<header class="centerVer headerBackgroundTrans" id="mainNavigation">
    <div>
        <section class="headerContainer center">
            <div class="headerGrid">
                <div class="pageLogo">
                    <h1>Hello.</h1>
                </div>
                <nav>
                    <ul id="navigationMenu">
                        <li><a class="menuLink" href="/">Home</a></li>
                        <li><a class="menuLink" href="/solutions">About Us</a></li>
                        <li><a class="menuLink" href="/solutions">Solutions</a></li>
                        <li><a class="menuLink" href="/news">News</a></li>
                        <li><a class="menuLink" href="/community">Community</a></li>
                        <li><a class="menuLink lastElement" href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</header>