<header class="centerVer headerBackgroundTrans" id="mainNavigation">
    <div>
        <section class="headerContainer center">
            <div class="headerGrid">
                <div class="pageLogo">
                    <img src="https://cpano.github.io/QuokkaTemplateCenter/public/images/Logo/DevRel_mascot_white_Oracle.svg" alt="" width="100vh">
                </div>
                <nav>
                    <ul id="navigationMenu">
                        <li><a class="menuLink" href="#Home">Home</a></li>
                        <li><a class="menuLink" href="#Services">Services</a></li>
                        <li><a class="menuLink" href="#Industries">Industries</a></li>
                        <li><a class="menuLink" href="#Insights">Insights</a></li>
                        <li><a class="menuLink" href="#Careers">Careers</a></li>
                        <!--
                        <li><a class="menuLink lastElement" href="/contact">Contact</a></li>
                        -->
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</header>