.upDown {
  animation: float 8.5s ease-in-out infinite;
}

.upDown2 {
  animation: float2 6s ease-in-out infinite;
}

.upDown3 {
  animation: float3 3.5s ease-in-out infinite;
}

.upDown5 {
  animation: float5 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float3 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float5 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(7px);
  }
  100% {
    transform: translatey(0px);
  }
}

.container,
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: absolute;
}

.ex1-layer {
  top: 0px;
  right: 245px;
}

.posCard2 {
  top: 240px;
  right: 60px;
}

.posCard3 {
  top: 160px;
  right: 198px;
}

.pos3{
  position: absolute;
  top: 35px;
  right: 82px;
}

.pos4{
  position: absolute;
  top: 490px;
  right: 375px;

}

.pos5{
  position: absolute;
  top: 345px;
  right: 359px;

  z-index: 1;
}

.pos6{
  position: absolute;
  top: 56px;
  right: 290px;
  z-index: 1;
}