.btn-1 {
  font-size: 16px;
  padding: 15px 30px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #ad1df5;
  border: none;
  text-decoration: none;
  position: absolute;
  transition: background-color 0.5s;
}

.btn-1:hover {
  background-color: #dd2af3;
}

.lastElement {
  padding: 15px 30px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: black;
  background: rgb(255, 255, 255);
  transition: background-color 0.5s;
}

.lastElement:hover{
    text-decoration: none;
    background-color: #dd2af3;
    color: black;
    color: #fff;
}
