.center {
  margin-left: auto;
  margin-right: auto;
}

.centerVer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.spacer10 {
  height: 10px;
}
.spacer20 {
  height: 20px;
}

.spacer30 {
  height: 30px;
}

.spacer80 {
  height: 80px;
}

.spacer100 {
  height: 100px;
}

.spacer180 {
  height: 180px;
}

/* Body */
.completeBanner {
  height: 100vh;
  max-height: 1000px;
}
