@font-face {
  font-family: Graphik-Font-Family;
  src: url("/fonts/Graphik-Font-Family/GraphikRegular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Graphik-Font-Family;
  src: url("/fonts/Graphik-Font-Family/GraphikBold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Graphik-Font-Family;
  src: url("/fonts/Graphik-Font-Family/GraphikLight.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}


@font-face {
  font-family: Graphik-Font-Family;
  src: url("/fonts/Graphik-Font-Family/GraphikMedium.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Graphik-Font-Family;
  src: url("/fonts/Graphik-Font-Family/GraphikSemibold.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}


.roundText,
.sectionName {
  color: #dd2af3;
  text-align: center;
}
.centerTitle,
.roundText,
.sectionName {
  text-align: center;
}
* {
  font-family: Graphik-Font-Family, Montserrat, sans-serif;
  color: #fff;
}
body {
  background-color: #000;
}

.backPurple {
  background-color: #5330b1;
}
.titleBanner {
  font-size: 5.1rem;
  font-weight: 500;
  line-height: 80px;
}

.headerDecription {
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
}
h2 {
  font-size: 1.9rem;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  margin: 0;
}
/*
.main-p1 {
  background-image: url("/images/B1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
*/

.mainP1-image {
  position: absolute;
  max-width: 84vw;
  right: 0px;
  top: -55px;
}

.mainP2-image {
  position: absolute;
  max-width: 55vw;
  left: 0px;
  top: -55px;
  z-index: -1;
  opacity: 0.5;
}

.mainP3-image {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -2;
}

.main-p2 {
  background: #1e49e3;
  background: linear-gradient(180deg, #1e49e3 0, rgba(30, 73, 227, 0) 100%);
}
.roundText {
  border: 1px solid #dd2af3;
  padding: 5px 10px;
  border-radius: 50px;
  width: 200px;
}
.imageContainer-G1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.img-G1 {
  max-width: 150px;
  filter: brightness(0) invert(1);
}
.contentContainer {
  padding-right: 40%;
}
